body {
    font-size: $text-size;
    background-color: #555;
}

.container {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
}

.slider {
    .img {
        height: $img-height;
    }
}

.capa {
    background-color: rgba(0, 0, 0, .2)
}